.example-spacer {
    flex: 1 1 auto;
  }
  mat-toolbar {
    width: 83%;
    /* user-select: none;
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 24px;
    width: 24px;
    overflow: hidden; */

  }
  