table {
    border-collapse: collapse;
    width: 50%;
    margin-left: auto;  
margin-right: auto;
box-shadow: 4px 4px 5px #888;
font-family: Poppins;
font-size: 1rem;
min-width: 36%;
margin: 13rem auto;
margin-top: 3rem;
margin-left: 11rem;
}
  
  th, td {
    border: 1px solid rgb(189, 189, 189);
    padding: 13px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  

  h1{
    font-family: Poppins;
    color: rgb(99, 48, 48);
    margin-left: 32rem;  
    margin-top: 5rem;

  }
 
  