
<div class="main">
 <div class="one">
    <div>
  <mat-card>
    <mat-card-title>Second Card</mat-card-title>
    <mat-card-content>Second Card</mat-card-content>
  </mat-card>
    </div>
    <div>
        <mat-card>
            <mat-card-title>First Card</mat-card-title>

            <mat-card-content>
            <button type="button" (click)="userdetail()" class="btn btn-success">Goto userdetails</button>
        </mat-card-content>
          </mat-card>
        </div>
       
</div> 
<div>
</div>



 