<!-- 
 <mat-drawer-container class="example-container">
    <h1>sidenav</h1>
    <mat-drawer mode="side" opened>Sidenav
        </mat-drawer>

    <mat-drawer-content class="tool">
    </mat-drawer-content>
  </mat-drawer-container>

  -->


  <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
      Sidenav
    </mat-drawer>
  
    <mat-drawer-content>
      <div class="content">
        <!-- Your content here -->
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
  